/* .sidebar {
    width: 240px;
    background: #ffffff;
    height: 100vh;
    padding: 1.5rem;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    position: fixed;
  } */
  /* Sidebar.css */
.sidebar {
  width: 260px;
  box-sizing: border-box;
  padding: 1.5rem;
  background: #ffffff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
}

  
  
  .sidebar-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #4f46e5;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .sidebar-menu li {
    padding: 0.8rem 0.5rem;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
  }
  .sidebar-menu li.active {
    background: #eef2ff;
    color: #4f46e5;
    font-weight: 600;
  }
  
  .sidebar-menu li:hover {
    background: #eef2ff;
    color: #4f46e5;
  }
  
  .logout-btn {
    background: #ef4444;
    color: #fff;
    border: none;
    padding: 0.7rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .logout-btn:hover {
    background: #dc2626;
  }
  